@import "default/mixin";

.auth-form {
    background: var(--element-bg);
    border: 1px solid var(--element-border);
    padding: 15px;
    max-width: 370px;
    margin: 15% auto;
}

.auth-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth-title {
    margin-bottom: 20px !important;
    display: flex;

    @include flexCenter();
}