@import "default/mixin";

.auth-form {
    background: rgba(var(--element-bg-rgb), 0.7);
    border: 1px solid rgba(var(--element-bg-rgb), 1);
    padding: 15px;
    max-width: 370px;

    @include marginCenter();
}

.auth-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth-title {
    font-family: var(--unbounded);
    margin-bottom: 20px !important;
    display: flex;

    @include flexCenter();
}