.top-site {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
  height: 190px;
  overflow: hidden;
  color: white;
}

.top-site::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/png/game.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px) brightness(75%);
  z-index: 1;
}

.top-site-title,
.top-site-server-desc {
  position: relative;
  z-index: 2;
}

.top-site-title {
  font-family: var(--unbounded);
  font-size: 25px;
}

.top-site-server-desc {
  font-size: 19px;
}

.top-site-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}
.top-site-buttons > * {
  flex: 1 1 200px;
}

.sever-game-conditions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#our-servers {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.server-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 10px;
}

.server {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: rgba(var(--element-bg-rgb), 0.2);
  border: 1px solid rgba(var(--element-bg-rgb), 1);
  height: 100%;
  transition: var(--default-transition);
}
.server:hover {
  background: rgba(var(--element-bg-rgb), 0.3);
  transform: translateY(-2px);
}

.server-information {
  flex: 1 1 auto;
  z-index: 10;
  margin-bottom: 7px;
  font-size: 17px;
}

.server-title {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 12px;
  font-size: 18px;
}

.server-title-svg {
  width: 40px;
  min-width: 40px;
}

.server-title-svg.yellow {
  background: rgba(244, 211, 58, 0.25);
  color: rgb(244, 211, 58);
}

.server-title-svg.red {
  background: rgba(244, 58, 58, 0.25);
  color: rgb(244, 58, 58);
}

.server-title-svg.purple {
  background: rgba(var(--brand-purple-rgb), 0.25);
  color: rgb(var(--brand-purple-rgb));
}

.server-title-svg.blue {
  background: rgba(58, 95, 244, 0.25);
  color: rgb(58, 95, 244);
}

.server-parametr {
  display: flex;
  gap: 10px;
}
.server-parametr span {
  display: inline-flex;
}
.server-parametr:not(:last-child) {
  margin-bottom: 5px;
}

.server-parametr-svg {
  display: inline-flex;
  fill: none;
  color: rgb(var(--brand-purple-rgb));
}
.server-parametr-svg path {
  stroke: rgb(var(--brand-purple-rgb));
}

.server-desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  text-overflow: ellipsis;
}

.append-balance {
  display: flex;
  align-items: center;
  border: 2px solid rgba(var(--element-bg-rgb), 1);
  gap: 7px;
}
.append-balance > * {
  display: inline-flex;
}
.append-balance .gray-btn {
  font-size: 20px;
  margin-left: auto;
  padding: 6px 14px !important;
}

.append-balance-currency-name {
  font-size: 18px;
}

.append-balance-img {
  background: rgba(var(--brand-purple-rgb), 0.3);
  fill: rgba(var(--brand-purple-rgb), 1);
  padding: 5px;
  width: 40px;
}

/*# sourceMappingURL=index.css.map */
