.topic-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, auto));
    gap: 15px;
    margin-top: 15px;
}

.topic-title {
    position: absolute;
    display: flex;
    padding: 20px;
    z-index: 999;
    max-width: 200px;
}

.topic {
    overflow: hidden;
    cursor: pointer;
}

.topic-img {
    filter: brightness(65%);
    transition: all 0.65s;
    object-fit: cover;

    &:hover {
        filter: brightness(85%);
        scale: 1.03;
    }
}

.questions {
    margin-top: 15px;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 15px;
    background: var(--element-color-0_7);
    border: 1px solid var(--element-color-1);

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.Q:before,
.A:before {
    font-size: 20px;
    font-family: var(--unbounded);
}

.Q:before {
    content: "Q:";
}

.A:before {
    content: "A:";
}
