@import "mixin";

#footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 20px;
    padding: 15px;
    background: rgba(var(--element-bg-rgb), 0.7);
    border: 1px solid rgba(var(--element-bg-rgb), 0.1);
    margin-bottom: 9px;
    margin-right: 1%;
    margin-left: 1%;
}

.footer-column {
    max-width: 380px;
}

.footer-info {
    margin-top: 10px;
    color: rgb(81, 81, 81);
}

.footer-column-btn {
    padding: 5px 8px;
    cursor: pointer;
    transition: all 0.35s;

    &:hover {
        background: #373737;
    }
}

.footer-column-name {
    margin-bottom: 10px;
    display: flex;
}

.footer-social-links {
    display: flex;
    gap: 7px;
}

.footer-social-links > * {
    display: inline-flex;

    @include flexCenter();
}
