@import "mixin";

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    top: 9px;
    margin-right: 1%;
    margin-left: 1%;
    position: sticky;
    background: var(--element-color-0_7);
    border: 1px solid var(--element-color-1);
    z-index: 9999;

    @include backdropFilter(blur(7px))
}

.header-title {
    font-weight: 400;
}

.navbar-links {
    display: flex;
    gap: 9px;

    & .header-title {
        display: none;
    }

    & hr {
        display: none;
    }

    & > * {
        font-size: 17px;
    }
}

.header-btns {
    display: flex;
    gap: 5px;
}

.header-btns > * {
    display: inline-flex;
    @include flexCenter();
}

.auth-btn {
    --purple-rgb: 152, 73, 241;

    font-family: inherit;
    outline: none;
    border: none;
    padding: 6px 12px;
    background: rgba(var(--purple-rgb), 0.08);
    transition: var(--default-transition);
    color: rgb(var(--purple-rgb));

    &:hover {
        background: rgba(var(--purple-rgb), 0.15);
    }
}

#burger-menu {
    display: none;
}

.header-btn {
    padding: 9px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    transition: var(--default-transition);

    &:hover {
        background: rgba(51, 50, 50, 0.7);
    }

    &:hover.dark {
        background: rgba(51, 50, 50, 0.7);
    }

    &:hover.light {
        background: rgba(255, 237, 35, 0.7);
    }
}

.header-dropdown > button {
    display: inline-flex;
}

.dropdown-options {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    top: 65px;
    //top: 100%;
    //left: 50%;
    transform: translateX(-30%);
    padding: 10px;
    background: var(--element-color-1);
    max-width: 220px;

    @include backdropFilter(blur(7px));
}

.select-option-btn {
    text-align: left;
    border: none;
    outline: none;
    padding: 4px 12px;
    background: transparent;

    &:hover {
        background: rgb(43, 43, 44);
    }
}

.select-option-btn:has(svg) {
    display: flex;
    gap: 12px;

    svg, span {
        display: inline-flex;
    }
}

.option-emoji {
    font-family: var(--emoji);
    margin-right: 6px;
}

.option-symbol {
    margin-right: 6px;
    border-right: 2px solid rgb(43, 43, 43);
    padding-right: 6px;
}

@media (max-width: 1100px) {
    $adapt-menu-space: 70px;

    .dropdown-options {
        transform: translateX(0);
    }

    #burger-menu {
        display: inline-flex;
        padding: 6px 25px;
        background: rgba(51, 50, 50, 0.5) !important;

        &:hover { background: rgba(51, 50, 50, 0.75) !important; }
    }

    .navbar:not(:has(.active)) {
        display: none;
    }
    .navbar.active {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 0;
        //left: 0;
        right: 0;
        width: max(310px, 5%);
        height: calc(100dvh - 30%);
        background: var(--element-color-1);
        padding: 12px;
        box-shadow: 400px 100px 1000px 1000px rgba(0, 0, 0, 0.67);
        pointer-events: all;

        @include backdropFilter(blur(7px));
    }

    .navbar-links {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 1.25rem;

        & .header-title {
            display: inline-flex;
            font-size: 1.45rem;
            margin-bottom: 12px;
        }

        & hr {
            display: block;
            border: 1px solid rgb(36, 35, 37);
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 940px) {
    .auth-btn {
        padding: 9px;
    }

    .auth-btn-text {
        display: none !important;
    }
}

@media (max-width: 820px) {
    .header-title {
        font-size: 24px;
    }
}

@media (max-width: 575px) {
    .header-title {
        font-size: 21px;
    }
}