@mixin elementCenterMargin() {
    margin: auto;
}

@mixin flexCenter() {
    align-items: center;
    justify-content: center;
}

@mixin backdropFilter($filter) {
    backdrop-filter: $filter;
    -webkit-backdrop-filter: $filter;
}