.link-btn {
    font-family: inherit;
    padding: 6px 14px;
    transition: all 0.3s;
    cursor: pointer;

    &:has(svg) {
        padding: 8px;
    }

    &:hover {
        background: rgba(50, 50, 50, 0.45);
    }
}
#discord-link-btn:hover { background: rgb(var(--discord-color)); }
#telegram-link-btn:hover { background: rgb(var(--telegram-color)); }
#youtube-link-btn:hover { background: rgb(var(--youtube-color)); }

.circle-border { border-radius: 9999px; }
.border-20 { border-radius: 20px; }
.border-15 { border-radius: 15px; }
.border-10 { border-radius: 10px; }

.gray-btn {
    outline: none;
    border: none;
    padding: 5px 12px;
    background: rgb(43, 43, 43);
    cursor: pointer;
    transition: all 0.35s;

    &:hover {
        background: rgb(55, 55, 55);
    }
}

.transparent-btn {
    outline: none;
    border: none;
    padding: 5px 12px;
    background: transparent;

    &:hover {

    }
}

.purple-btn {
    --purple-rgb: 132, 37, 230;

    font-family: inherit;
    outline: none;
    border: none;
    padding: 6px 12px;
    background: rgba(var(--purple-rgb), 0.12);
    transition: all 0.45s;

    & > span {
        color: rgba(var(--purple-rgb), 1);
    }

    &:hover {
        background: rgba(var(--purple-rgb), 0.25);
    }
}

.material-symbols-outlined {
    position: relative;
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 18;
    right: 6px;
}

.select-menu {
    padding: 6px 10px;
    border: none;
    outline: 1px solid transparent;
    transition: all 0.35s;
    background: #3a3a3a;
    color: var(--text-color);

    &:focus {
        outline: 1px solid red;
    }
}

.no-display {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}
