@import "mixin";

.link-btn {
    font-family: inherit;
    padding: 6px 14px;
    transition: all 0.3s;
    cursor: pointer;

    &:has(svg) {
        padding: 8px;
    }

    &:hover {
        background: rgba(50, 50, 50, 0.45);
    }
}

.circle-border { border-radius: 9999px; }
.border-20 { border-radius: 20px; }
.border-15 { border-radius: 15px; }
.border-10 { border-radius: 10px; }

.unbounded-font { font-family: var(--unbounded); }

.padding-5 { padding: 5px !important; }
.padding-10 { padding: 10px !important; }
.padding-15 { padding: 15px !important; }
.padding-20 { padding: 20px !important; }
.padding-25 { padding: 25px !important; }

@mixin buttonDefaultStyle() {
    cursor: pointer;
    text-align: center;
    outline: none;
    border: none;
}

.gray-btn {
    padding: 5px 17px;
    background: rgb(43, 43, 43);
    transition: var(--default-transition);
    color: white;

    @include buttonDefaultStyle();

    &:hover {
        background: rgb(55, 55, 55);
    }
}

.transparent-btn {
    padding: 5px 17px;
    transition: var(--default-transition);
    background: transparent;
    color: white;

    @include buttonDefaultStyle();

    &:hover {
        background: rgba(255, 255, 255, 0.02);
    }
}

.purple-btn {
    font-family: inherit;
    padding: 5px 17px;
    background: rgba(var(--brand-purple-rgb), 1);
    transition: var(--default-transition);
    color: white;

    @include buttonDefaultStyle();

    &:hover {
        background: rgba(var(--brand-purple-rgb), 0.8);
    }

    /*&[colored-text] {
        color: rgba(var(--brand-purple-rgb), 1);
    }*/
}

.material-symbols-outlined {
    position: relative;
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 18;
    right: 6px;
}

.select-menu {
    padding: 6px 10px;
    border: none;
    outline: 1px solid transparent;
    transition: var(--default-transition);
    background: #3a3a3a;
    color: var(--text-color);

    &:focus {
        outline: 1px solid red;
    }
}

.no-display {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.discord-bg {
    background: rgb(var(--discord-color));
}

.telegram-bg {
    background: rgb(var(--telegram-color));
}

.youtube-bg {
    background: rgb(var(--youtube-color));
}

.vk-bg {
    background: rgb(var(--vk-color));
}

.discord-bg-hover:hover {
    background: rgb(var(--discord-color));
}

.telegram-bg-hover:hover {
    background: rgb(var(--telegram-color));
}

.youtube-bg-hover:hover {
    background: rgb(var(--youtube-color));
}

.vk-bg-hover:hover {
    background: rgb(var(--vk-color));
}

.msg {
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    background: rgba(var(--element-bg-rgb), 0.7);
    border: 2px solid rgba(var(--element-bg-rgb), 1);
}

.msg-text {

}

.msg-string {
    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.msg-icon {
    fill: none;
    min-width: 40px;
    width: 40px;
    height: 40px;

    & path {
        stroke: white;
    }
}

.information-msg {
    background: rgba(38, 82, 225, 0.15);
    border: 2px solid rgba(38, 82, 225, 1);

    & .msg-icon path {
        color: rgb(38, 82, 225);
        stroke: rgb(38, 82, 225);
    }
}

.warning-msg {
    background: rgba(225, 38, 38, 0.15);
    border: 2px solid rgba(225, 38, 38, 1);

    & .msg-icon path {
        color: rgb(225, 38, 38);
        stroke: rgb(225, 38, 38);
    }
}

.advice-msg {
    background: rgba(85, 200, 44, 0.15);
    border: 2px solid rgba(85, 200, 44, 1);

    & .msg-icon path {
        color: rgb(85, 200, 44);
        stroke: rgb(85, 200, 44);
    }
}

.disable-page {
    pointer-events: none;
    overflow: hidden;
}

.spotlight {
    position: relative;
    overflow: hidden;
    --mouse-x: 50%;
    --mouse-y: 50%;
    --spotlight-color: rgba(var(--brand-purple-rgb), 0.3);
}
.spotlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}
.spotlight:hover::before,
.spotlight:focus-within::before {
    opacity: 0.6;
}

.button-with-svg {
    display: flex;
    gap: 8px;
    color: currentColor;

    &[center] {
        @include flexCenter();
    }
}
