:root {
    --nunito: "Nunito";
    --unbounded: "Unbounded";
    --emoji: "Flag Emoji Polyfill";
}

body.light {
    --text-color: black;
}

body.dark {
    --text-color: white;
    --element-bg-rgb: 31, 30, 32;
    --bg-color: 17, 16, 19;
    --telegram-color: 0, 174, 237;
    --vk-color: 0, 119, 255;
    --youtube-color: 255, 0, 0;
    --discord-color: 88, 101, 242;
}