body.light {
    --text-color: black;
}

body.dark {
    --nunito: "Nunito";
    --unbounded: "Unbounded", sans-serif;
    --text-color: white;
    --bg-color: 17, 16, 19;
    --telegram-color: 0, 174, 237;
    --vk-color: 0, 119, 255;
    --youtube-color: 255, 0, 0;
    --discord-color: 88, 101, 242;
}